<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5 text-center">
          <h5 class="card-title mb-4 fw-light fs-4">Login with Google</h5>
          <p class="mb-4 text-muted">Use your Google account to sign in</p>

          <div class="d-grid">
            <button class="btn btn-light btn-google text-uppercase fw-bold" (click)="loginWithGoogle()">
              <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-logo">
              Sign in with Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
